<h1>Welcome <%= @current_user.email %></h1>

<div class="row">
  <div class="col-md-3">
    <p>How are you <%= @current_user.email %> doing today?</p>
  </div>
    <%= render 'items/form', item: Item.new, user: @current_user %>
    
    <%= render @items %>
</div>